{{ define "content" }}
<main>
  <header>
    <div class="layout layout-xl">
      <div class="header {{ .Params.headerClasses }}">
        {{ if .Params.posterImage }}
        <div class="header-image">
          <img src="{{ .Params.posterImage }}" alt="{{ .Title }}" />
        </div>
        {{ end }} {{ if or .Title .Params.headerContent }}
        <div class="header-content {{ .Params.headerContentClasses }}">
          {{ if .Title }}
          <h1>{{ .Title }}</h1>
          {{ end }} {{ if .Params.headerContent }} {{ .Params.headerContent}} {{ end }}
        </div>
        {{ end }} {{ if .Params.posterImageCredits }}
        <div class="header-credits">
          <p>{{ .Params.posterImageCredits }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </header>
  <section class="layout layout-xl {{ .Params.layoutSectionClasses }}">{{ .Content }}</section>
</main>
{{ end }}
