{{ $style := resources.Get "scss/global.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}

<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="og: http://ogp.me/ns" class="theme-dark" style="background-color:#000000;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=2.5, width=device-width, height=device-height" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {{- block "title" . -}}
        {{- if .Title -}}
          {{- .Title | printf "%s | Bjørnar Hagen" | safeHTML -}}
        {{- else -}}
          {{- .Site.Title | safeHTML -}}
        {{- end -}}
      {{- end -}}
    </title>
    <meta name="description" content="Designer &amp; engineer" />
    <link rel="canonical"
      {{- if .RelPermalink -}}
            {{- printf " href=\"https://bjornar.dev%s\"" .RelPermalink | safeHTMLAttr -}}
      {{- else -}}
            {{- " href=\"https://bjornar.dev\"" | safeHTMLAttr -}}
      {{- end -}}
    />
    <meta property="og:title" content="Bjørnar Hagen" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bjornar.dev" />
    <meta property="og:image" content="https://bjornar.dev/image.jpg" />
    <meta property="og:description" content="Designer &amp; engineer" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <meta name="theme-color" content="#ffffff" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <link rel="preload" as="style" href="{{ $style.Permalink }}" />
    <link rel="preload" as="style" href="/fonts/fira-code/fira-code.css?v20210428" />
    <link rel="preload" as="script" href="/js/theme.js?v20230815" />
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <meta property="dayTimeNameMorning" content='{{ i18n "index.header.dayTimeNameMorning" }}' />
    <meta property="dayTimeNameAfternoon" content='{{ i18n "index.header.dayTimeNameAfternoon" }}' />
    <meta property="dayTimeNameEvening" content='{{ i18n "index.header.dayTimeNameEvening" }}' />
    {{ block "head" . }} {{ end }}
  </head>
  <body
    {{- if .Params.body_id -}}
        {{- printf " id=\"%s\"" .Params.body_id | safeHTMLAttr -}}
    {{- end -}}

    {{- if .Params.body_classes -}}
        {{- printf " class=\"%s\"" .Params.body_classes | safeHTMLAttr -}}
    {{- end -}}
  >
    {{ block "header" . }} {{ end }}
    <div id="top"></div>
    <nav id="nav">
      <div class="nav-inner layout layout-xl">
        <a class="logo-wrapper" href='{{ relLangURL "/" }}'>
          <img width="128" height="64" class="logo" src="/images/brand/logo/logo-light.svg" alt="Bjørnar Hagen logo" />
        </a>
        <div class="links-wrapper">
          <a href='{{ relLangURL "/entries" }}'>Posts</a>
          <a href="https://datahjelpen.no/kundecaser" target="_blank" rel="noopener">Portfolio</a>
          <a href="https://github.com/bjornarhagen" target="_blank" rel="noopener">Github</a>
          <a href="https://www.linkedin.com/in/bjornarhagen/" target="_blank" rel="noopener">LinkedIn</a>
        </div>
        <div class="mega-menu">
          <a href='{{ relLangURL "/menu" }}'>
            <span class="icon">᎒᎒᎒</span>
            <span class="text">{{ i18n "nav.menu" }}</span>
          </a>
        </div>
      </div>
    </nav>
    {{ block "content" . }} {{ end }}
    <footer id="footer" class="layout bg-dots-gray bg-dots-sm">
      <div class="footer-inner">
        <div>
          <a href='{{ relLangURL "/cookies" }}'>Cookies</a>
        </div>
        <div>
          <a href="#light" class="theme-light-hide no-underline square">
            <span>☀</span>
          </a>
          <a href="#dark" class="theme-dark-hide no-underline square">
            <span>☽</span>
          </a>
          <a href="#top" class="no-underline square"> <span>↑</span></a>
        </div>
      </div>
    </footer>
    {{ block "scripts_before" . }} {{ end }}
    <link rel="stylesheet" href="/fonts/fira-code/fira-code.css?v20210428" />
    <script src="/js/theme.js?v20230815" async></script>
    <script src="/js/libraries/htmx.js?v20230704" async></script>
    {{ block "scripts_after" . }} {{ end }}
  </body>
</html>
