{{ define "head" }}
<meta property="og:type" content="website" />
{{ end }} {{ define "content" }} {{ $categorySlug := .Title | urlize }} {{ $creditsName := "Unknown" }} {{ $creditsURL
:= "/" }} {{ if eq $categorySlug "code" }} {{ $creditsName = "Bjørnar Hagen" }} {{ $creditsURL = "/" }} {{ else if eq
$categorySlug "devops" }} {{ $creditsName = "Bjørnar Hagen" }} {{ $creditsURL = "/" }} {{ else if eq $categorySlug "k8s"
}} {{ $creditsName = "Bjørnar Hagen" }} {{ $creditsURL = "/" }} {{ else if eq $categorySlug "security" }} {{
$creditsName = "Bjørnar Hagen" }} {{ $creditsURL = "/" }} {{ else if eq $categorySlug "opinion" }} {{ $creditsName =
"Lianhao Qu" }} {{ $creditsURL = "https://unsplash.com/@lianhao" }} {{ else if eq $categorySlug "economy" }} {{
$creditsName = "Bjørnar Hagen" }} {{ $creditsURL = "/" }} {{ else if eq $categorySlug "ux" }} {{ $creditsName =
"Christopher Burns" }} {{ $creditsURL = "https://unsplash.com/@christopher__burns" }} {{ end }}
<main>
  <header>
    <div class="layout layout-xl">
      <div class="header header-abs bg-primary">
        <div class="header-image">
          <img
            src="/images/taxonomies/{{$categorySlug}}.jpg"
            alt=""
            srcset="/images/taxonomies/{{$categorySlug}}@0,5x.jpg 720w, /images/taxonomies/{{$categorySlug}}.jpg 1440w"
          />
        </div>
        <div class="header-content bg-transparent theme-light-hide">
          <h1><a href='{{ relLangURL "/entries" }}'>Posts</a> / {{ .Title }}</h1>
        </div>
        <div class="header-content bg-transparent fg-light theme-dark-hide">
          <h1><a href='{{ relLangURL "/entries" }}'>Posts</a> / {{ .Title }}</h1>
        </div>
        <div class="header-credits">
          Photo by <a href="{{ $creditsURL }}" target="_blank" rel="noopener">{{ $creditsName }}</a>
        </div>
      </div>
    </div>
  </header>
  {{ range sort .Pages "PublishDate" "desc" }} {{ if not .Params.hideFromList }} {{ if .Title }}
  <section class="info-section layout layout-xl">
    <div class="info-section-left">
      {{ if .Params.PosterImage }}
      <div
        class="background background-fade-in background-fade-in-from-25"
        style="background-image: url('{{ .Params.PosterImage }}')"
      ></div>
      {{ end }}
      <h2 class="title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
      <p>
        {{ range .Params.categories }} {{ $category := . }} {{ $categoryURL := printf "/categories/%s" $category |
        urlize | relURL }}
        <a href="{{ $categoryURL }}" class="button">{{ $category }}</a>
        {{ end }}
      </p>
    </div>
    <div class="info-section-right">
      <div class="pb-16">{{ .Params.Summary }}</div>
    </div>
  </section>
  {{ end }} {{ end }} {{ end }}
</main>
{{ end }}
