body {
  background-color: var(--color-dark-contrast);
}

#editor {
  padding: 0 1em;
}

@media (min-width: 600px) {
  #editor {
    padding: 0 2em;
  }
}

@media (min-width: 1200px) {
  #editor {
    padding: 0 4em;
  }
}

#editor form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editor .editor-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  width: 100%;
  max-width: 100%;
  margin-top: 2em;
}

@media (min-width: 600px) {
  #editor .editor-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #editor .editor-area {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#editor .editor-area .input {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

#editor .editor-area .input input {
  padding: 1vw;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  outline: none;
  border: 1px solid var(--color-border);
  color: var(--color-light-contrast);
  background-color: var(--color-dark-contrast);
  font-size: inherit;
  font-family: inherit;
}

#editor .editor-area .input label {
  padding: 0 0 1vw 0;
  text-transform: capitalize;
}

#editor .editor-area {
  padding-bottom: 4vw;
}

#editor .editor-input,
#editor .editor-output {
  width: 100%;
  height: 80vh;
  padding: 4vw;
  resize: vertical;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: var(--color-light-contrast);
}

@media (min-width: 600px) {
  #editor .editor-input,
  #editor .editor-output {
    height: 50vh;
  }
}

#editor .editor-input {
  border: 1px solid var(--color-border);
  background-color: var(--color-dark-contrast);
  min-height: 512px;
}

#editor .editor-output {
  opacity: 0.5;
  border: none;
  background-color: transparent;
}

#editor form button[type='submit'] {
  margin: 1em auto;
  padding: 1em 2em;
  font-size: inherit;
  text-transform: uppercase;
  border: none;
  color: var(--color-dark-contrast);
  background-color: var(--color-light-contrast);
  border-radius: 4px;
  cursor: pointer;
}

#editor form button[type='submit']:hover,
#editor form button[type='submit']:focus {
  color: var(--color-light-contrast);
  background-color: var(--color-primary);
}
