{{ define "head" }}
<link rel="preload" as="style" href="/fonts/eb-garamond/eb-garamond.css?v20210428" />
<meta property="og:type" content="article" />
{{ end }} {{/* {% set body_id = 'post-page' %} {%- if title -%} {% set title = title + " | Post" %} {%- else -%} {% set
title = "Post" %} {%- endif -%} {%- if body_classes -%} {% set body_classes = "nav-small " + body_classes %} {%- else
-%} {% set body_classes = "nav-small" %} {%- endif -%} */}} {{ define "content" }}
<main>
  {{ if or .Title .Params.posterImage .Params.headerClasses .Params.headerContent }}
  <header>
    <div class="layout layout-lg entry-intro">
      <div class="text-content">
        <h1>{{ .Title }}</h1>
      </div>
      <div>
        {{ if .Params.author }}
        <p>
          <span>{{ i18n "posts.author" }}:</span>
          <span>{{ .Params.author }}</span>
        </p>
        {{ end }} {{ if .PublishDate }}
        <p>
          <span>{{ i18n "posts.datePublished" }}: </span>
          <span>{{ .PublishDate.Format "2006-01-02T15:04:05Z" }}{{/* WTF Golang?! */}}</span>
        </p>
        {{ end }}
      </div>
    </div>
    {{ if .Params.posterImage }}
    <div class="layout layout-lg header {{ with .Params.posterImageSize }}header-{{ . }} header-abs{{ end }}">
      <div class="header-image">
        <img src="{{ .Params.posterImage }}" alt="{{ .Title }}" />
      </div>
      {{ if .Params.posterImageCredits }}
      <div class="header-credits">
        <p>{{ .Params.posterImageCredits }}</p>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </header>
  {{ end }}
  <section class="layout layout-md text-content">{{ .Content }}</section>
</main>
{{ end }} {{ define "scripts_after" }}
<link rel="stylesheet" href="/fonts/eb-garamond/eb-garamond.css?v20210428" />
{{ end }}
