:root {
  --color-fg-h: #ffb3a7;
  --color-fg-p: #ffddca;

  --color-dark-contrast: #000;
  --color-dark: #181b26;

  --color-light-contrast: #fff;
  --color-light-cold: #ebf6f7;
  --color-light-warm: #ffddca;

  --color-bg: var(--color-light-cold);
  --color-bg: #181b26;

  --color-primary: #c91f37;
  --color-primary-light: #c93756;
  --color-primary-lighter: #807273;
  --color-secondary: #003171;
  --color-accent: #006442;
}

* {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-fg-p);
  background-color: var(--color-bg);
  font-size: 12px;
}

body {
  font-size: 1em;
  line-height: 1.6;
  display: block;
  /* font-family: sans-serif; */
  font-weight: 300;
  /* font-family: 'Merriweather', serif; */
  font-family: 'Fira Code', 'SF Mono', monospace;
  font-display: swap;
}

@media (min-width: 20em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 40em) {
  html {
    font-size: 18px;
  }
}

/* @media (min-width: 60em) {
    html {
      font-size: 20px;
    }
  } */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  font-family: inherit;
  font-weight: 400;
  color: var(--color-fg-h);
}

h1 {
  font-size: 2.45em;
}

h2 {
  font-size: 1.95em;
}

h3 {
  font-size: 1.56em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
}

a,
a:visited {
  color: inherit;
  text-decoration: underline;
}

a:focus,
a:hover {
  outline: none;
  color: var(--color-primary);
}

::selection {
  color: #fff;
  background-color: var(--color-primary);
}

body > nav {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em;
  max-width: 100%;
  overflow: hidden;
  color: var(--color-light-contrast);

  @media (min-width: 60em) {
    padding: 2em 4em;
  }
}

body > nav .logo-wrapper {
  height: 4em;
  width: 100%;
  display: flex;
  margin-bottom: 1em;

  @media (min-width: 60em) {
    width: auto;
    order: 1;
  }
}

body > nav .logo-wrapper .logo {
  width: auto;
  height: 100%;
}

body > nav .links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 60em) {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

body > nav .links-wrapper a {
  text-decoration: none;
  margin-right: 1.6em;
  margin-top: 0.8em;

  @media (min-width: 60em) {
    margin-top: 0;
  }
}

body > nav .links-wrapper a:hover,
body > nav .links-wrapper a:focus {
  text-decoration: underline;
}

body > nav .links-wrapper-before {
  @media (min-width: 60em) {
    order: 0;
  }
}

body > nav .links-wrapper-after {
  @media (min-width: 60em) {
    order: 2;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 12em;
  overflow: hidden;
  border-radius: 1em;

  @media (min-width: 60em) {
    min-height: 16em;
    height: 50vh;
  }
}

.header .header-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#index .header .header-image img {
  object-position: center 33%;
}

.header .header-content {
  position: absolute;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: var(--color-light-contrast);
  background-color: var(--color-bg);
  padding: 2em;
  font-size: 0.4em;
  border-radius: 1em;

  @media (min-width: 23em) {
    font-size: 0.5rem;
  }

  @media (min-width: 40em) {
    width: 55%;
    left: 4rem;
    font-size: 0.7rem;
  }

  @media (min-width: 60em) {
    font-size: 1rem;
    width: 55%;
    left: 4rem;
  }
}

.header .header-content h1,
.header .header-content p {
  color: inherit;
}

.header .header-credits {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em;
  opacity: 0.5;
  background-color: transparent;
  text-align: right;
  transition-property: opacity, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus-within {
    opacity: 1;
    background-color: var(--color-dark-contrast);
  }

  p {
    margin: 0;
    line-height: 1;
    font-size: 0.8em;
  }
}

main > header > .layout {
  padding-top: 0;
}

body > footer {
  height: 10em;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 100%;
  max-width: 100%;

  @media (min-width: 60em) {
    padding: 4em;
  }
}

.layout.layout-s {
  max-width: 60ch;
}

.layout.layout-m {
  max-width: 80ch;
}

.layout.layout-l {
  max-width: 100ch;
}

.layout.layout-xl {
  max-width: 200ch;
}

.info-section {
  position: relative;
  padding: 2em;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media (min-width: 60em) {
    padding: 4em;
    grid-template-columns: 10fr 15fr;
  }
}

.info-section .heading {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: var(--color-dark);

  @media (min-width: 40em) {
    height: 4rem;
  }
}

.info-section .number {
  position: absolute;
  top: 0;
  line-height: 1;
  left: 0;
  font-size: 8em;
  opacity: 0.1;
  transform: translateY(-25%);
}

.info-section h2,
.info-section h3,
.info-section h4 {
  /* color: inherit; */
}

.info-section h2 {
  margin-bottom: 1rem;
}

.info-section h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.info-section p,
.info-section ul {
  margin-left: 0;
  margin-bottom: 1rem;
  max-width: 80ch;
}

.info-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  gap: 1em;
}

.info-section ul p {
  margin: 0;
}

.info-section .columns {
  @media (min-width: 45em) and (max-width: 60em) {
    columns: 2;
  }
  @media (min-width: 80em) {
    columns: 2;
  }
}

.fg-white {
  color: #fff !important;
}
.fg-primary {
  color: var(--color-primary) !important;
}
.fg-primary-light {
  color: var(--color-primary-light) !important;
}
.fg-primary-lighter {
  color: var(--color-primary-lighter) !important;
}
.fg-secondary {
  color: var(--color-secondary) !important;
}
.fg-accent {
  color: var(--color-accent) !important;
}

.bg-white {
  background-color: #fff !important;
}
.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-primary-light {
  background-color: var(--color-primary-light) !important;
}
.bg-primary-lighter {
  background-color: var(--color-primary-lighter) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-accent {
  background-color: var(--color-accent) !important;
}
.bg-transparent {
  background-color: transparent !important;
}
